<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>








<div layout:fragment="content">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Bordered Table</h3>
                    </div>
                    <td>
                      <form action="http://localhost:8080/board/regist" method="get">
                      <button type="submit" class="btn btn-block btn-primary">글쓰기</button>
                      </form>
                    </td>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th style="width: 40px">Writer</th>
                          </tr>
                        </thead>
                        <tbody class="readBtn">
                          <tr th:each="board : ${list.list}" th:data-bno=${board.bno}>
                            <td th:text="${board.bno}">1.</td>
                            <td th:text="${board.title}">title</td>
                            <td th:text="${board.content}">content</td>
                            <td th:text="${board.writer}">writer</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                      <ul class="pagination pagination-sm m-0 float-right paging">

                      </ul>
                    </div>
                  </div>
                  <script src="/js/paging.js"></script>
                  <!-- /.card -->
          </section>
          <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>  



<script layout:fragment="script" th:inline="javascript">

  const readBtn = document.querySelector(".readBtn");
  const pageArea = document.querySelector(".card-footer");
  const boardUL = document.querySelector(".paging");

  const {page,size} = [[${PageRequestDTO}]];
  const {total} = [[${PageResponseDTO}]];

  const PageLIStr = makePages(page, size, total);
  paging.innerHTML = PageLIStr;
  

  // readBtn.addEventListener("click", e => {

  //   const target = e.target;
  //   const bno = target.closest("tr").getAttribute("data-bno");

  //   // console.log(bno);

  //   window.location.href = "/board/read/" + bno;

  // }, false)

</script>

</body>
</html>
